<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let det of dets">
      <ng-container *ngIf="det.status; else elseTemplate">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <h5>ID: {{det.id}}</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">Name: {{det.name}}</h5>
            <button type="button" class="btn btn-warning btn-sm mt-2" (click)="onDeleteCard(det.id)">Удалить</button>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <h5>ID: {{det.id}}</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">Name: {{det.name}}</h5>
            <button type="button" class="btn btn-warning btn-sm mt-2" (click)="onDeleteCard(det.id)">Удалить</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-2">
      <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="name">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 mt-2">
      <select class="custom-select" [(ngModel)]="status">
        <option [ngValue]="true">Статус включен</option>
        <option [ngValue]="false">Статус выключен</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-12 mt-2">
      <button type="button" class="btn btn-primary" (click)="onAddCard()">Добавить</button>
    </div>
  </div>
</div>